body {
  margin: 0 0;
  text-align: center;
  border-left: 1px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  background-color: white;
}

h2 {
  font-size: 2rem;
}

h4 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.4rem;
}

.navtop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  max-width: 1050px;
  margin: auto;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}

.logo img {
  padding-left: 24px;
  height: 50px;
}

.navlist {
  text-align: right;
  flex-grow: 1;
}

.navlistmob {
  display:none;
}

.navlist span {
  display: inline-block;
  padding-right: 16px;
}

.black {
  color: black;
  font-weight: 700;
}

.grey {
  color: grey;
  font-weight: 700;
}

.banner1 {
  background-color: lightgrey;
  margin: 0 auto;
}

.banner1content {
  padding: 32px 24px;
  display: flex;
  justify-content: space-between;
  max-width: 1050px;
  align-items: center;
  margin:auto;
}

.banner1image {
  width: 60%;
}

.banner1image img {
  width: 100%;
}

.textbox1 {
  width: 40%;
  text-align: center;
}

.tagline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 1.4rem;
}

.tagline span {
  font-size: 1.7rem;
}

.tagline a {
  background-color: black;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  margin-top: 40px;
}

.banner2 {
  display: flex;
  justify-content: space-between;
  max-width: 1050px;
  margin: auto;
}

.left {
  width: 60%;
  padding: 32px 24px 32px 0px;
  text-align: left;
}

.left img {
  width: 100%;
}

.left h2 {
  padding: 32px 32px 32px 0px;
}

.right {
  display: flex;
  flex-direction: column;
  padding: 16px 0px 32px 0px;
  border-left: 1px solid lightgrey;
  width: 37.5%;
  justify-content: flex-start;
  align-items: center;
}

.right1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid lightgrey;
}

.right1 .try {
  width: 40%;
  padding: 16px;
}

.trym {
  display: none;
}

.try2m {
  display: none;
}

.try3m {
  display: none;
}

.right1text {
  width:100%;
  text-align: left;
}

.right1text a {
  text-decoration: none;
  color: blue;
}

.right2text a {
  text-decoration: none;
  color: blue;
}

.right3text a {
  text-decoration: none;
  color: blue;
}

.right1text a:hover {
text-decoration: underline;
  color: lightblue;
}

.right2text a:hover {
text-decoration: underline;
  color: lightblue;
}

.right3text a:hover {
text-decoration: underline;
  color: lightblue;
}

.right h6 {
  margin: 0;
  padding: 5px;
  padding-left: 0px;
}

.right h4 {
  margin: 0;
  padding: 5px;
  padding-left: 0px;
  color: grey;
}

.right2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.right2 .try2 {
  width: 40%;
  padding: 16px;
}

.right2text {
  width:100%;
}

.right3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: lightgrey;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.right3 .try3 {
  width: 40%;
  padding: 16px;
}

.right3text {
  width:100%;
}

.banner3 {
  background-color: lightgrey;
  display:flex;
  justify-content: space-between;
}

.container {
  max-width: 1050px;
  margin: auto;
}

.head {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.sixboxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sixlist {
  display:none;
}

.offer1 {
  padding-right: 16px;
  padding-bottom: 24px;
  width: 330px;
  display: flex;
  flex-direction: column;
}

.offer1image img {
  width: 100%;
  display: block;
}

.offer1content {
  text-align: left;
  background-color: white;
  height: 150px;
  padding: 16px;
}

.offer1content p {
  color: grey;
}

.container4 {
  max-width: 1050px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left4 {
  width: 60%;
  padding: 32px 24px;
  padding-left: 0px;
}

.left4 video {
  width: 100%;
}

.right4 {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 32px;
}

.righttop {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
}

.righttop img {
  width: 35%;
  padding: 16px;
}

.righttopcontent {
  text-align: left;
}

.rightbottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.rightbottom img {
  width: 35%;
  padding: 16px;
}

.rightbottomcontent {
  text-align: left;
}

.left4content {
  text-align: left;
}

footer {
  max-width: 1050px;
  margin: auto;
}

.containerfooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.containerfooter a {
  padding-left: 30px;
  text-decoration: none;
}

@media only screen and (max-width : 480px) {

 .navlistmob {
   display: flex;
   align-items: center;
   padding-right: 24px;
   padding-left: 24px;
   justify-content: space-between;
   flex-grow: 1;
 }

 .logo {
   display: none;
 }

 .navlist {
   display: none;
 }

.banner1content {
  flex-direction: column;
  padding: 0;
  margin: 0;
  padding-bottom: 24px;
}

.banner1image,  .textbox1 {
   width: 100%;
 }

 .tagline a {
   width: 90%;
   text-align: center;
 }

 .tagline a:hover {
   background-color: grey;
 }

 .left {
   display: none;
 }

 .right {
   width: 100%;
   padding: 16px;
 }

 .right1 {
   flex-direction: column;
   padding-bottom: 16px;
 }

 .right2 {
   flex-direction: column;
   padding-bottom: 16px;
 }

 .right3 {
   flex-direction: column;
   padding-bottom: 16px;
 }

 .try {
   display: none;
 }

 .trym {
   display: flex;
   width: 100%;
 }

 .try2 {
   display: none;
 }

 .try2m {
   display: flex;
   width: 100%;
 }

 .try3 {
   display: none;
 }

 .try3m {
   display: flex;
   width: 100%;
 }

 .right3 {
   background-color: white;
 }

 .sixboxes {
   display: none;
 }

 .banner3 {
   background-color: white;
   padding-bottom: 25px;
 }

 .container {
   width: 100%;
   padding: 0 16px;
 }

 .sixlist {
   display: flex;
   flex-direction: column;
   width: 100%;
 }

 .head {
   padding: 0;
 }

 .sixlist a {
   text-decoration: none;
   text-align: left;
   background-color: lightgrey;
   padding: 16px;
   border: 5px solid white;
   color: black;
   font-size: 1.6rem;
 }

 .sixlist a:hover {
   opacity: 0.5;
 }

.container4 {
  flex-direction: column;
  align-items: center;
}

.left4content, .right4, .rightbottom {
  display: none;
}

.left4 {
  width:100%;
  padding-right: 0px;
  padding-top: 0;
}

.banner4 {
  border-top: 1px solid lightgrey;
}

footer nav {
  display:none;
}

.containerfooter p {
  display: block;
  width: 100%;
}

}
